/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.nojsWarning {
  display: block;
  padding: 1em;
  margin: 1em;
  border: 1px solid red; }
  .nojsWarning h1 {
    font-size: 120%;
    font-weight: bold; }

.js .nojsWarning {
  display: none; }

.partCssWarning {
  display: none; }

.no-borderradius .partCssWarning {
  display: block;
  padding: 1em;
  margin: 1em;
  border: 1px solid red; }
  .no-borderradius .partCssWarning h1 {
    font-size: 120%;
    font-weight: bold; }

.oldIeWarning {
  display: block;
  padding: 1em;
  margin: 1em;
  border: 1px solid red; }
  .oldIeWarning h1 {
    font-size: 120%;
    font-weight: bold; }

#home {
  margin: 0px auto;
  width: 960px;
  font: 18px arial, helvetica, sans-serif;
  line-height: 1.5;
  padding: 10px 10px; }
  #home .main > header {
    margin-bottom: 14px; }
    #home .main > header > h1 {
      display: block;
      float: left;
      margin-left: 250px;
      margin-right: 10px;
      width: 460px;
      text-align: center; }
    #home .main > header > aside {
      display: block;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 220px;
      text-align: right;
      font-size: 14px; }
  #home .main > section {
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 940px;
    padding: 8px; }
  #home .main #output > ul {
    list-style: none; }
    #home .main #output > ul > li {
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-color: #eee;
      padding: 8px;
      margin-bottom: 8px; }
